## Deliverable 3. Create a Travel Itinerary Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [26]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Kapaa,US,80.58,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,1,Rikitea,PF,74.10,overcast clouds,-23.1203,-134.9692,People ThankYou
2,6,Castro,BR,71.80,scattered clouds,-24.7911,-50.0119,CHACARA BAILLY
3,7,Los Llanos De Aridane,ES,71.35,clear sky,28.6585,-17.9182,Valle Aridane
4,9,Atuona,PF,77.29,scattered clouds,-9.8000,-139.0333,Villa Enata

In [27]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [28]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.


vacation_start = vacation_df.loc[vacation_df["City"] == "Fujieda"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Fujieda"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Shimoda"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Katsuura"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Hasaki"]

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
stop3 = vacation_stop3["Lat"].values[0], vacation_stop3["Lng"].values[0]

In [37]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2,stop3],
    travel_mode= "DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,49,Fujieda,JP,76.84,broken clouds,34.8667,138.2667,Toyoko INN Shizuoka Fujiedaeki Kitaguchi
1,49,Fujieda,JP,76.84,broken clouds,34.8667,138.2667,Toyoko INN Shizuoka Fujiedaeki Kitaguchi
2,424,Shimoda,JP,77.11,broken clouds,34.6667,138.9500,Shimoda Tokyu Hotel
3,103,Katsuura,JP,79.21,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
4,274,Hasaki,JP,77.40,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel

In [44]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig= gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))